.stButton>button{

width:100%;

background:linear-gradient(
90deg,
#FF2E63,
#00CFFF
);

color:white;

border:none;

padding:18px;

font-size:22px;

font-weight:bold;

border-radius:18px;

transition:.4s;

}

.stButton>button:hover{

transform:scale(1.03);

box-shadow:0 0 30px #00CFFF;

}